@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav img {
    width: 3vh;
}

#center {
    background-color: #d9d9d996;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 4vh 1vh;
}

#accueil{
    padding-right: 1vh;
}

/* Zone des boutons */
#buttons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

/* Style des éléments de la liste des boutons */
#buttons li {
    padding-right: 2vh;
    list-style: none;
}

#button1{
    font-family: "Lora";
    background-color: rgba(0, 0, 139, 0);
    border-style: solid;
    border-radius: 1vh;
    border-width: 1px;
    border-color: #0000007c;
    padding: 1vh 2vh 1vh;
}

#button1:hover{
    background-color: #0000007c;
    color: white;
    transition: 0.3s;
}

#button1 a:hover{
    color: white;
    transition: 0.3s;
}

#button1 a:not(:hover){
    color: black;
    transition: 0.3s;
}

#button1:not(:hover){
    background-color: rgba(0, 0, 139, 0);
    transition: 0.3s;
}

#button1 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.75vh;
}

#button2{
    font-family: "Lora";
    background-color: #000000c4;
    border: none;
    border-radius: 1vh;
    padding: 1vh 2vh 1vh;
}

#button2 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.75vh;
}